body {
    background-image: url(./img/bg.png);    
}
h1,h2,h3{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Impact;
    text-align: center;
}
.MTitle{
    float: left;
    font-size: 32px;
}
.MsTitle{
    float: left;
    font-size: 16px;
}
.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    margin: 0 auto;
    margin-top: 30px;
    overflow: auto; 
    padding-bottom: 15px;   
}

nav li {
    float: right;
    overflow: auto;
    margin: 0 5%;
} 

nav a {
    display: block;
    padding: 4px;
    text-decoration: none;
    font-size: 20px;
    color: black; 
}

nav a:hover {
    color: rgb(61, 102, 126);
}
nav a.active {
        color: rgb(61, 102, 126);
}

div.banner{
    position: relative;
    text-align: center;
}

div.bannertxt{
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.main{
    width:  65%;
    display:inline-block;
    margin-left: 1%;
    color: DarkSlateGrey;
    padding: 5px;
    line-height: 30px;
}

special{ font-weight: bold; }
special:hover{ color: lightblue; text-decoration: underline; text-decoration-style: dashed; }

.sidebar{
    display:inline-block;
    position: absolute;
    right: 50px;
    top: 450px;
    width: 18%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    opacity: 0.8;
    padding-bottom: 15px;       
}
aside ul{
    padding:8%;
    background-color: white;
}
aside li{
    padding: 5px 5px 5px 5px;
    background-color: lightblue;
}

footer {
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(61, 102, 126);
}

footer ul, aside ul{
    margin: 0 auto;
    overflow: auto;
    list-style-type: none;	
}

footer li {
    float: left;
    overflow: auto;
    margin: 0 5%;
} 

footer a, aside a {
    display: block;
    padding: 4px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;	
}

footer a:hover, aside a:hover {
    background: white;
    color: rgb(61, 102, 126);
}
